<% @form_keywords.each do |form_keyword| %>
  <label for=<%= "#{form_keyword}" %>><%= form_keyword %></label>
  <input type="text" name=<%= "#{form_keyword}" %> id=<%= "#{form_keyword}" %> class="fancy_form" >
<% end %>
